{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body style="margin: 0">
<div id="py_game_12345678"></div>
<script type="module">
    import {PyGame} from "{% static 'js/dist/game.js' %}"

    $(document).ready(function () {
        let py_game = new PyGame("py_game_12345678")
    })
</script>
</body>
</html>