.py_game_menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/bg.jpeg");
    background-size: 100% 100%;
    user-select: none;
}

.py_game_menu_filed {
    width: 20vw;
    position: relative;
    top: 40%;
    left: 40%;
}

.py_game_menu_filed_item {
    color: white;
    width: 18vw;
    height: 6vh;
    font-size: 4vh;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
}

.py_game_menu_filed_item:hover {
    transform: scale(1.2);
}

.py_game_playground {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: gray;
}

.py_game_playground > canvas {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.py_game_settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/bg.jpeg");
    background-size: 100% 100%;
    user-select: none;
}

.py_game_settings_login {
    height: 41vh;
    width: 20vw;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.py_game_settings_register {
    height: 49vh;
    width: 20vw;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.py_game_settings_title {
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.py_game_settings_username {
    display: block;
    height: 7vh;
}

.py_game_settings_password {
    display: block;
    height: 7vh;
}

.py_game_settings_submit {
    display: block;
    height: 7vh;
}

.py_game_settings_item {
    width: 100%;
    height: 100%;
}

.py_game_settings_item > input {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.py_game_settings_item > button {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #108b96;
}

.py_game_settings_error_message {
    color: red;
    font-size: 1vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.py_game_settings_option {
    color: white;
    font-size: 1.5vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.py_game_chat_field_history {
    position: absolute;
    top: 66%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 32%;
    color: white;
    font-size: 2vh;
    padding: 5px;
    overflow: auto;
}

.py_game_chat_field_history::-webkit-scrollbar {
    width: 0;
}

.py_game_chat_field_input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 3vh;
    color: white;
    font-size: 2vh;
    background-color: rgba(222, 225, 230, 0.2);
}