.py_game_menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/bg.jpeg");
    background-size: 100% 100%;
    user-select: none;
}

.py_game_menu_filed {
    width: 20vw;
    position: relative;
    top: 40%;
    left: 40%;
}

.py_game_menu_filed_item {
    color: white;
    width: 18vw;
    height: 6vh;
    font-size: 4vh;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
}

.py_game_menu_filed_item:hover {
    transform: scale(1.2);
}

.py_game_playground {
    width: 100%;
    height: 100%;
    user-select: none;
}